html {
    box-sizing: border-box;
}

*,
*::after,
*::before{  
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container {
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button__contact {
    right: 40px;
    bottom: 50px;
    position: fixed;
    background-color: antiquewhite;
    border-radius: 19px;
    transform: scale(1) translateY(0) rotate(0deg);
    transition: all .5s ease;
    height: 50px;
    width: 170px;
    cursor: pointer;
    z-index: 3;
    font-family: Manrope, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .5px;
    box-shadow: 10px 10px 5px #888888;
    transition: 0.3s;
} 

.button__contact:hover {
    background-color: #ffffff;
  }

.header {
    background-color: antiquewhite;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
    background-color: rgb(255, 255, 255);
}   

.user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    
}

.advert {
    height: 35vh;
    background-color: antiquewhite;
}

.container__advert{
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.advert__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 775px;
    padding-right: 100px;
    
    
}

.advert__all {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2em;
    background-color: rgb(255, 255, 255);
}

.advert__text-small {
    font-size: 20px;
    font-family: Manrope, sans-serif;
    color: gray;
    letter-spacing: 1px;
    padding-top: 5px;
}

.advert__text {
    font-size: 30px;
    font-family: Manrope, sans-serif;
}

.advert__img {
    padding-left: 200px;
}

.top {
    height: 95vh;
    background-color: antiquewhite;
}

.top__all {
    display: flex;
    justify-content: center;
}

.top__left {
    display: flex;
    flex-direction: column;
    gap: 35px 0;    
    font-family: Manrope, sans-serif;
}

.top__text-all {
    padding-top: 60px;
}

.top__text {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    padding-top: 15px;
    color: rgba(115, 115, 115, 0.8);
    
}

.top__list-element {
    display: flex;
    align-items: center;
    justify-content: left; 
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px 0;
    font-weight: bold;
    letter-spacing:.5px;
    font-size: 20px;
   
}

.top__all {
    padding: 60px 0;
    padding-left: 80px;
    height: 100%;
}

.top__title {
    font-size: 35px;
    font-weight: bold;
}

.top__image {
    padding: 150px 0;
    padding-right: 100px;
}

.header__text {
    font-family: Manrope, sans-serif;
    font-size: 15px;
    color: rgba(115, 115, 115, 0.8);
}

.services {
    height: 100vh;
    background-color: antiquewhite;
}


.services__text-first{
    display: flex;
    width: 100%;
}

.services__ul {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services__text {
    width: 50%;
    
}

.services__header-right {
    text-align: right;
    font-size: 30px;
    font-family: Manrope, sans-serif;
}


.services__header-left {
    text-align: left;
    font-size: 30px;
    font-family: Manrope, sans-serif;    
}

.services__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 50px;
    font-family: Manrope, sans-serif;
    letter-spacing: 1px;
}

.services__text-down {
    font-size: 20px;
    font-family: Manrope, sans-serif;
    color: gray;
    letter-spacing: 1px;
    display: flex;
    
}

.services__container {
    display: flex;
    justify-content: space-between;
}

.image__list-left {
    padding-right: 20px;
    padding-left: 10px;
}

.image__list-right {
    padding-left: 20px;
    padding-right: 10px;
}

.hr {
    width: 800px;
    margin: auto;
    height:1px;
    border:0;   
    border-top:1px solid #000000;
}

.slider {
    height: 110vh;
    background-color: antiquewhite;
}

.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper__title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 50px;
    font-family: Manrope, sans-serif;
    letter-spacing: 1px;
}

.swiper-wrapper {
    height: 80vh !important;
}

.photo {
    box-shadow: 15px 15px 5px #888888;
}

.contact {
    background-color: antiquewhite;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
} 

.footer__text {
    font-family: Manrope, sans-serif;
    font-size: 15px;
    color: rgba(115, 115, 115, 0.8);
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    
}

.container__header {
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container__footer {
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.copy {
    padding-top: 35px;
    padding-left: 165px;
}

.footer__number {
    font-family: Manrope, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}